nav a {
    text-decoration: none;
    color: #333A42;
    padding: 10px 15px;
    font-size: 16px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a.active {
    color: #DD6600; /* Couleur accent */
}

.blocs{
    margin: 5%;
}

.first{
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 90%;
}

.first .text{
    width: 40%;
    margin: 0;
}

.text span{
    color: #DD6600;
}

.text p{
    font-family: 'Inter', sans-serif;
    color: #333A42;
    font-size: 16px;
    line-height: 1.8;
}

.first .tab{
    display: inline-block;
    position: relative;
    color: black;
}
    
.first .tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 46%; 
    width: 100%;
    height: 2px; 
    background-color: black; 
}

.first, .second span{
    color: #DD6600;
}

.first h1{
    font-family: 'JacquesProBold';
    text-align: start;
    color: black;
}

.bloc-chiffre p{
    line-height: 2;
}

.bloc-chiffre{
    gap: 20px;
}
.blocs{
    gap: 70px !important;
    padding-bottom: 80px;
}

.second{
    gap: 70px !important;
    width: 70%;
}
.hero{
    height: 437px !important;
}
.three {
    background-image: url("../images/second.svg") !important;
    height: 437px !important;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    text-align: center;
    padding: 20px;
}


.three p{
    width: fit-content !important;
    line-height: 1.7;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.bloc-img{
    display: flex;
    flex-direction: column;
    gap: 90px;
}